@import 'components/typography';
@import 'components/buttons';
@import 'components/nav';
@import 'components/section';
@import 'components/forms';
@import 'components/modal';

@import 'components/game';

@import 'sections/dashboard';

$icon-font-path: '../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$fa-font-path: '../../bower_components/components-font-awesome/fonts';

@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../bower_components/components-font-awesome/scss/font-awesome';

html, body {
    height: 100%;
}

body {
//    background: url('http://www.dream-wallpaper.com/free-wallpaper/nature-wallpaper/grass-football-pitches-wallpaper/1920x1200/free-wallpaper-17.jpg');
    background: url('https://thevoiceofateenager.files.wordpress.com/2012/03/test-cricket-ball.jpg');

    background-size: cover;
    padding-top: 50px;
}


.overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
}

//@include override;