doctype html
html
    head
        title= 'InsightfulIT'
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1= title
        p Welcome to #{title}
