.banner {
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    height: 400px;
    width: 100%;

    .jumbotron {
        top: -50%;
        background: none;
        position: relative;
        width: 100%;

        h1 {
            font-size: 12vw;
            font-family: monserrat;
            font-weight: bold;
        }
        p {
            font-size: 20px;
            font-family: monserrat;
            text-transform: uppercase;
            border-bottom: 1px solid #ccc;
            padding-bottom:5px;
            color: #ccc;
        }
    }
}