$navbar-default-bg: #527517;
$navbar-default-link-color: #ffffff;
$navbar-default-link-active-color: #ffffff;



nav {
    /*position: fixed !important;*/
    width: 100%;
    opacity: 0.8;

    &.affix {
        position: fixed;
    }
}


