.panel {
    margin-top: 20px;
    text-align: center;

    .icon {
        border: 5px solid #264757;
        border-radius: 60px;
        font-size: 50px;
        line-height: 70px;
        padding: 15px;
        color: #264757;
    }

    
    p {
        text-align: left;
        padding: 0px 20px;
    }
}