section {
    height:100%;
    width: 100%;
    padding: 10px;

    & > h2 {
        padding-top: 40px;
        margin-top: -40px;
        font-family: monserrat !important;
        font-size: 4vw;
        color: #264757;
        border-bottom: 1px solid #264757;
        text-align: center;
    }

    & h3 {
        text-align: center;
    }
}